<html>
    <head>
        <title>{% block title %}{% endblock %} - twitter2gTalk </title>
    </head>
    <body>
    	{% block header %}
    	{% if user %}
    	<div align="right">Logged in as {{ user.nickname }} - 
    	  <a href="/settings/">Settings</a> - <a href="{{log_in_out_url}}">Log out</a> </div>
    	{% else %}
    	<div align="right"><a href="{{log_in_out_url}}">Log in</a></div>
    	{% endif %}
    	<hr /><br />
    	<div align="center"><a href="/"><img src="http://gpowered.net/php/images/twitter2gtalk_logo.jpg" alt="twitter2gTalk Logo" border="0"></a><br/><br/>
    	twitter2gTalk takes your tweets and sets them as your gTalk status/away message.<br/>
    	To begin, please login, and fill out the settings page.<br/><br/>
    	For news and code: <a href="http://gpowered.net">subscribe</a> or <a href="http://www.twitter.com/broderboy">follow me</a><br/>
    	For updates: <a href="http://www.twitter.com/twitter2gtalk">follow this app</a>
    	</div>
    	{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}
		<br /><hr/><br />
		<div align="center"><a href="http://code.google.com/appengine/">
		<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" / border="0"></a><br/>
		[ a <a href="http://gpowered.net">gPowered.net</a> site | <a href="http://code.google.com/p/gpowered/source/browse/trunk/gpowered/appengine/twitter2gTalk/">source code</a> ]
		<br/><br/></div>
		{% endblock %}
    </body>
</html>