<html>
    <head>
        <title>{% block title %}{% endblock %} - twitter2gTalk </title>
        {% if urchin %}
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-793489-10";
urchinTracker();
</script>
{% endif %}
    </head>
    <body>
    	{% block header %}
    	{% if user %}
    	<div align="right">Logged in as {{ user.nickname }} - 
    	  <a href="/settings/">Settings</a> - <a href="{{log_in_out_url}}">Log out</a> </div>
    	{% else %}
    	<div align="right"><a href="{{log_in_out_url}}">Log in</a></div>
    	{% endif %}
    	<hr /><br />
    	<div align="center"><a href="/"><img src="http://gpowered.net/php/images/twitter2gtalk_logo.jpg" alt="twitter2gTalk Logo" border="0"></a><br/><br/>
    	twitter2gTalk takes your tweets and sets them as your gTalk status/away message.<br/>
    	To begin, please login, and fill out the settings page.<br/><br/>
    	For news and code: <a href="http://gpowered.net">subscribe</a> or <a href="http://www.twitter.com/broderboy">follow me</a><br/>
    	For updates: <a href="http://www.twitter.com/twit2gtalk">follow this app</a>
    	</div>
    	<br />
    	<div align="center">
    	Depending on Load, updates will be sent every 5-15 min<br />
    	Twitter's API has beeing going <a href="http://istwitterdown.com/">up and down</a>. If updates are not being sent, its probably due to this.<br />
    	Tweets that start with '@' will not be sent to gTalk<br />
    	Currently having issues with non ascii characters, I'll be looking into
    	</div>
    	{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}
		<br /><hr/><br />
		<div align="center"><a href="http://code.google.com/appengine/">
		<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" / border="0"></a><br/>
		[ a <a href="http://gpowered.net">gPowered.net</a> site | <a href="http://code.google.com/p/gpowered/source/browse/trunk/gpowered/appengine/twitter2gTalk/">source code</a>  | <a href="http://blog.gpowered.net/2008/03/update-google-talk-status-with-twitter.html">original article</a> | <a href="http://blog.gpowered.net/2008/05/twitter2gtalk-goes-live.html">launch article</a> ]
		<br/><br/></div>
		{% endblock %}
    </body>
</html>